form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    
  }

label{
    display: flex;
    flex-direction: column;
}

button{
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

h4{
  margin: 10px 10px;
}

label{
  margin: 10px 10px;
}

input{
  width: 100%;
}

button{
  margin: 10px 10px;
  padding: 10px;
}


